<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <%= link_to "Edit #{ restaurant.name }", edit_restaurant_path(restaurant) %>
    <%= link_to "Delete #{ restaurant.name }", restaurant_path(restaurant), method: :delete %>
    <%= link_to "Review #{ restaurant.name }", new_restaurant_review_path(restaurant) %>
    <ul>
      <% restaurant.reviews.each do |review| %>
        <li><%= "#{ review.thoughts} (#{ review.rating })" %><em>posted <%= time_ago_in_words(review.created_at) %> ago</em>
        <%= link_to 'Like this review', review_likes_path(review), class: 'likes-link' %>
        <span class='likes_count'>
          <%= review.likes.count %>
        </span> like</li>
      <% end %>
      <h3>Average rating: <%= star_rating(restaurant.average_rating) %></h3>
    </ul>
  <% end %>
<% else %>
  No restaurants yet
<% end %>

<%= link_to 'Add A Restaurant', new_restaurant_path %>